.header-box {

	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 60%;
	min-height: 150px;

	h1 {
		
		font-size: 40px;
	}

}

.header {
	display: flex;
	justify-content: center;
	align-content: center;	
	padding: 10% 


}


footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.player-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;	
	margin: 10% 2% 

}

.player-card {
	border: 1px solid black;
	heigth: 30px;
	width: 100px;
	margin: 5%;
}

.team-list {
	display: flex;
	justify-content: space-around;

}
