@media screen and (min-width: 1000px) {

	.wrapper {
		margin: 20px 10% 20px 10%;
	}
}

@media screen and (max-width: 400px) {

	.wrapper {
		margin: 5px 10px 5px 10px;
	}

}

@media screen and (max-width: 300px) {

	.wrapper {
		margin: 0px;
	}
}

